#root {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  flex: 1;
  display: flex;
  align-items: center;
}

h1{
  display: flex;
  align-items: center;
  gap: 10px;
}

div.input-container{
  display: flex;
  flex-direction: column;
}

div.input-container div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

div.input-container p.show{
  margin: 0px;
  color: red;
}

div.input-container p.hide{
  display: none;
}

div#user-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer{
  background-color: #f5f5f5;
  padding: 10px 0px;
  width: 100%;
}

footer img{
  width: 35px;
  color: white;
  padding: 0px 10px;
  background-color: transparent;
}